{% extends "base-home.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block content-home %}

        <h1 class="title"> Importar Pesquisa</h1>
        <div class="w-50">
            <button class="btn mb-4" onclick="window.location.href = '{% static 'files/importacao_exemplo.csv' %}'">
                <img src="{% static 'images/icons/download.svg' %}">
                Download do arquivo de exemplo
            </button>
            <form id="form-importar-pesquisa" method="post" novalidate enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
            </form>
        </div>
        <div class="d-flex justify-content-end">
            <button id='btn-cadastro' class="btn" type="submit" form="form-importar_pesquisa">Importar</button>
        </div>


{% endblock %}