{% extends "base-home.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block content-home %}

        <div class="d-flex justify-content-between">
            <h1 class="title"> {% if not pesquisa_id %}Cadastrar{% endif %} Pesquisa</h1>
                <div class="d-flex align-items-center">
                    {% if not pesquisa_id %}
                        <button id="btn-pergunta" class="btn">Nova pergunta</button>
                    {% else %}
                        {% if request.user.coordenador == pesquisa.coordenador_responsavel %}
                            <button id="btn-pergunta" class="btn">Nova pergunta</button>
                            <button id="btn-editar" class="btn ml-2">Editar</button>
                            <button class="btn ml-2" onclick="window.location.href = '{% url 'pesquisa:excluir_pesquisa' pesquisa_id %}'">Excluir</button>
                        {% endif %}
                    {% endif %}
                </div>
        </div>

    <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex justify-content-end">
            <button id='btn-cadastro' class="btn">{% if pesquisa_id %}Editar{% else %}Cadastrar{% endif %}</button>
        </div>
    </form>

{% endblock %}

{% block id-modal %}modal-nova-pergunta{% endblock %}
{% block modal-title %}Nova pergunta{% endblock %}
{% block modal-content %}
    <form id="form-pergunta" method="post">
        {% csrf_token %}
        {{ form_pergunta|crispy }}
    </form>
{% endblock %}
{% block modal-footer %}
    <button id="btn-salvar-pergunta" type="submit" form="form-pergunta" class="btn btn-primary">Salvar</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/geral.js' %}"></script>
    <script>
        let id = '{{ pesquisa_id }}';
        if(id !== 'None'){
            $('#btn-cadastro').addClass('d-none');
            $("input, select").prop('disabled', true);
        }

        let erros = '{{ form.errors }}';
        if(erros){
            $("input, select").prop('disabled', false);
            $('#btn-editar').text('Desfazer alterações');
            $('#btn-cadastro').removeClass('d-none');
            isEditable = true;
        }

        $('#btn-pergunta').on('click', function() {
            $('#modal-nova-pergunta').modal('show');
        });

        $('#form-pergunta').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'pesquisa:salvar_pergunta' %}",
                data:  {form: $('#form-pergunta').serialize(),
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                success: function (data){
                        $('#id_perguntas').append($('<option>', {
                            value: data['id'],
                            text: data['titulo']
                        }));
                        $('#form-pergunta').trigger('reset');
                        $('#modal-nova-pergunta').modal('hide');
                    }
                });
        })

    </script>
    {{ form.media.js }}
{% endblock %}