{% extends "base-home.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block content-home %}

    <div class="d-flex justify-content-between">
        <h1 class="title"> {% if not coordenador_id %}Cadastrar{% endif %} Coordenador</h1>
        {% if coordenador_id %}
            <div class="d-flex align-items-center">
                <button id="btn-editar" class="btn mr-1">Editar</button>
                <button class="btn ml-2">Excluir</button>
            </div>
        {% endif %}
    </div>

    <form method="post" autocomplete="off" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex justify-content-end">
            <button id="btn-cadastro" class="btn d-none">{% if coordenador_id %}Editar{% else %}Cadastrar{% endif %}</button>
        </div>
    </form>

{% endblock %}
{% block javascript %}
    <script src="{% static 'js/geral.js' %}"></script>
{% endblock %}