{% extends "base-home.html" %}
{% load bootstrap_pagination %}
{% load static %}
{% load crispy_forms_filters %}

{% block content-home %}
    <div class="d-flex justify-content-between">
        <h1 class="title"> Hospitais</h1>
            <div class="d-flex align-items-center">
                <button class="btn" onclick="window.location.href = '{% url 'gerenciamento:cadastrar_hospital' %}'">Novo</button>
            </div>
    </div>

    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">País</th>
            <th scope="col">Estado</th>
            <th scope="col">Cidade</th>
          </tr>
        </thead>
        <tbody>
          {% for hospital in hospitais %}
              <tr data-href="{% url 'gerenciamento:editar_hospital' hospital.pk %}">
                  <td>{{ hospital.nome }}</td>
                  <td>{{ hospital.pais }}</td>
                  <td>{{ hospital.estado }}</td>
                  <td>{{ hospital.cidade }}</td>
              </tr>
          {% endfor %}
        </tbody>
    </table>

    <nav class="d-flex justify-content-center" aria-label="Page navigation">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% bootstrap_paginate hospitais range=5 show_prev_next="true" show_first_last="true" %}
            </ul>
        </nav>
    </nav>

{% endblock %}
{% block javascript %}
    <script>
        $(document).ready(() =>{
            $('*[data-href]').on('click', function() {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}