.asteriskField{
    font-weight: bold;
    color: #53507A;
}

label{
    font-weight: bold;
    color: #53507A;
}

.title {
    text-align: left;
    color: #53507A;
}

.home {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.nav {
    width: 20%;
    height: 100vh;
    position: fixed;
}

.form-center {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: ghostwhite;
    background-image: url('../images/fundo-login.jpg');
    background-size: cover;
    background-position: center;
}

.form-cadastro {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 20px;
    background-color: #D3E7F7;
    background-size: cover;
    width: 80%;
    margin-left: 20%;
}

.form-consultar {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    padding: 20px;
    background-color: ghostwhite;
}

.container-agend {
    width: 100%;
    margin-top: 50px;
    display: flex;
    padding-right: 50px;
    flex-direction: row;
    justify-content: space-between;
}

.container-transparencia {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-box {
    width: 35%;
    height: min-content;
    text-align: left;
    box-shadow: 0px 3px 6px #0000001A;
    border: 1px solid #E3E3E3;
    border-radius: 6px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(7.0px);
    -webkit-backdrop-filter: blur(7.0px);
}

.form-registration {
    width: 35%;
    left: 15%;
    height: min-content;
    text-align: left;
    box-shadow: 0px 3px 6px #0000001A;
    border: 1px solid #E3E3E3;
    border-radius: 6px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(7.0px);
    -webkit-backdrop-filter: blur(7.0px);
}

.graph {
    width: 40%;
    text-align: left;
    box-shadow: 0px 3px 6px #0000001A;
    border: 1px solid #E3E3E3;
    border-radius: 6px;
    padding: 25px;
    background-color: white;
}

.voucher {
    width: 50%;
    text-align: left;
    box-shadow: 0px 3px 6px #0000001A;
    border: 1px solid #E3E3E3;
    border-radius: 6px;
    padding: 25px;
}

.voucher-center {
    min-height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.my-row {
    display: flex;
    flex-direction: row;
}

.form-resul {
    width: 50%;
    text-align: left;
    box-shadow: 0px 3px 6px #0000001A;
    border: 1px solid #E3E3E3;
    border-radius: 6px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(7.0px);
    -webkit-backdrop-filter: blur(7.0px);
    height: min-content;
}


.text-bottom {
    padding-top: 15px;
    text-align: center
}

.btn-login {
    background-color: #66B2F8 !important;
    border-color: #66B2F8 !important;
}

.btn-login:hover, .btn-login:focus, .btn-login:active {
    background-color: #88b5df !important;
    border-color: #88b5df !important;
}

.btn{
    background-color: #53507A;
    border-color: #53507A;
    color: white;
}

li {
    list-style: none
}

.btn:hover, .btn:focus, .btn:active {
    background-color: #7c7fa9;
    border-color: #7c7fa9;
}

.messages {
    margin: 10px;
}

a:link, a:visited {
    color: #88b5df;
    background-color: transparent;
    text-decoration: none;
}

a:hover, a:active {
    color: #88b5df;
    background-color: transparent;
    text-decoration: underline;
}
