{% extends "base-home.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block content-home %}

    <div class="d-flex justify-content-between">
        <h1 class="title"> {% if not aluno_id %}Cadastrar{% endif %} Aluno</h1>
        {% if aluno_id %}
            <div class="d-flex align-items-center">
                <button id="btn-editar" class="btn">Editar</button>
                <button class="btn ml-2" onclick="window.location.href = '{% url 'gerenciamento:excluir_aluno' aluno_id %}'">Excluir</button>
            </div>
        {% endif %}
    </div>

    <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-flex justify-content-end">
            <button id="btn-cadastro" class="btn">{% if aluno_id %}Editar{% else %}Cadastrar{% endif %}</button>
        </div>
    </form>

{% endblock %}
{% block javascript %}
    <script src="{% static 'js/geral.js' %}"></script>

    <script>
        let id = '{{ aluno_id }}';
        if(id !== 'None'){
            $('#btn-cadastro').addClass('d-none');
            $("input, select").prop('disabled', true);
        }

        let erros = '{{ form.errors }}';
        if(erros){
            $("input, select").prop('disabled', false);
            $('#btn-editar').text('Desfazer alterações');
            $('#btn-cadastro').removeClass('d-none');
            isEditable = true;
        }
    </script>
{% endblock %}