{% extends "base-home.html" %}
{% load crispy_forms_filters %}

{% block content-home %}

    <h1 class="title">Perfil</h1>

    <form method="post" autocomplete="off" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <hr>
        {{ form_senha|crispy }}
        <div class="d-flex justify-content-end">
            <button class="btn">Salvar</button>
        </div>
    </form>

{% endblock %}
{% block javascript %}
    <script>
        $('#id_senha, #id_confirmacao').on('input',function(e){
            let senha = $('#id_senha').val()
            let confirmacao = $('#id_confirmacao').val()
            if(senha || confirmacao){
                $("label[for='id_senha']").text("Nova senha*");
                $("label[for='id_confirmacao']").text("Confirmação de senha*");
            }
            if(!senha && !confirmacao){
                $("label[for='id_senha']").text("Nova senha");
                $("label[for='id_confirmacao']").text("Confirmação de senha");
            }
        });
    </script>
{% endblock %}